services:
  mongo:
    image: mongo:latest
    volumes:
      - /opt/opensign/db:/data/db
    networks:
      - opensign_net

  server:
    image: opensign/opensignserver:main
    expose:
      - "8080"
    depends_on:
      - mongo
    env_file: ./.env
    networks:
      - opensign_net

  client:
    image: opensign/opensign:main
    expose:
      - "3000"
    depends_on:
      - server
    env_file: ./.env
    networks:
      - opensign_net

networks:
  opensign_net:
    driver: bridge
