version: "3.9"

services:
   mongo:
    image: mongo:latest
    container_name: mongo-container
    volumes:
      - data-volume:/data/db
    ports:
      - "27018:27017"
    networks:
      - app-network
  server:
    image: opensign/opensignserver:main
    container_name: opensign-server
    restart: always
    depends_on:
      - mongo
    env_file:
      - .env.prod
    environment:
      - NODE_ENV=production
      - MONGODB_URI=mongodb://mongo:27017/opensigndb
      - SERVER_URL=${HOST_URL}/api/app
      - PUBLIC_URL=${HOST_URL}
      - MASTER_KEY=${MASTER_KEY}
    networks:
      - app-network
    expose:
      - "8080"   # internal only

  client:
    image: opensign/opensign:main
    container_name: opensign-client
    restart: always
    depends_on:
      - server
    env_file:
      - .env.prod
    environment:
      - VITE_API_URL=${HOST_URL}
    networks:
      - app-network
    expose:
      - "3000"   # internal only

networks:
  app-network:
    driver: bridge

volumes:
  data-volume:
  opensign-files:
